<app-carousel></app-carousel>

<app-page-card>
    <div class=" p-8 flex flex-col md:flex-row gap-8 items-center min-h-[400px]">

        <div class="flex flex-col w-full md:w-1/2">
            <img src="../../../../assets/Pictures/game-cards.jpg" alt="Playing cards"
                class="rounded-sm shadow-md max-w-72 max-h-72">
        </div>

        <div class="hidden md:block w-0.5 h-64 bg opacity-50"></div>

        <div class="flex flex-col items-center md:items-start w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl font-normal text-black mb-6">Was ist Pfadi?</h2>

            <div class="bg-[#D9D9D9] p-6 w-full min-h-[200px] flex items-center justify-center">
                <p class="text-gray-700">
                    Die Pfadibewegung wurde von Lord Baden-Powell gegründet und ist heute mit 25 Millionen Mitgliedern
                    die weltweit grösste
                    Jugendorganisation. In der Schweiz vereint die PBS rund 50'000 Pfadfinderinnen und Pfadfinder. Die
                    Pfadi Urstein Herisau
                    ist Teil dieser starken Gemeinschaft und bietet Kindern aus der Region Herisau, Waldstatt und
                    Umgebung spannende
                    Erlebnisse in der Natur und unvergessliche Lager.
                </p>
                <a href="">Mehr erfahren</a>
            </div>
        </div>

    </div>
</app-page-card>