<nav class="flex bg-navbar w-full h-12 flex-row justify-start items-center fixed top-0 z-50 px-4 shadow-md">
    <div class="mr-6"><a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a></div>
    <div class="mr-6"><a class="nav-link" [routerLink]="['ueber-uns']" routerLinkActive="active">Über uns</a></div>
    <div class="mr-6"><a class="nav-link" [routerLink]="['aktivitaeten']" routerLinkActive="active">Aktivitäten</a>
    </div>
    <div class="mr-6"><a class="nav-link" [routerLink]="['downloads']" routerLinkActive="active">Downloads</a></div>
    <div class="mr-6"><a class="nav-link" [routerLink]="['shop']" routerLinkActive="active">Shop</a></div>
    <div><a class="nav-link" [routerLink]="['kontakt']" routerLinkActive="active">Kontakt</a></div>
</nav>