<app-header>
    Pfadi Urstein - Über uns
</app-header>

<div class="m-0 gap-2 items-center flex justify-center flex-row bg-red-200 w-full h-24">
    <p>80 Teilnehmer</p>
    <p>15 Leiter</p>
    <p>50 APV</p>
</div>

<app-page-card>
    <div class=" p-8 flex flex-col md:flex-row gap-8 items-center min-h-[400px]">

        <div class="flex flex-col w-full md:w-1/2">
            <img src="../../../../assets/Pictures/game-cards.jpg" alt="Playing cards"
                class="rounded-sm shadow-md max-w-72 max-h-72">
        </div>

        <div class="hidden md:block w-0.5 h-64 bg opacity-50"></div>

        <div class="flex flex-col items-center md:items-start w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl font-normal text-black mb-6">Leiterteam</h2>

            <div class="bg-[#D9D9D9] p-6 w-full min-h-[200px] flex items-center justify-center">
                <p class="text-gray-700">
                    Das Leiterteam besteht aus engagierten Jugendlichen welche in diversen Bereichen des Lebens stehen.
                    In unserem Leiterteam erlernst du schrittweise wie man Verantwortung für sich selbst oder gar für
                    eine ganz
                    Gruppe übernimmt. Wir organisieren die Aktivitäten am Samstagnachmittag sowie die Lager die jedes
                    Jahr stattfinden. Jedes
                    Mitglied des Leiterteams besucht die Kurse von Jugend und Sport (J+S), welche dafür sorgen, dass die
                    Sicherheit
                    und das Vorankommen für jeden Teilnehmenden an vorderste Stelle steht. Das Amt als Pfadileiter ist
                    ehrenamtlich und
                    zeitintensiv. Es ermöglicht jedoch Erfahrungen die man in diesem Alter kaum wo anders sammeln
                    könnte.
                </p>
                <a href="">Mehr erfahren</a>
            </div>
        </div>

    </div>
</app-page-card>

<app-page-card>
    <div class=" p-8 flex flex-col md:flex-row gap-8 items-center min-h-[400px]">

        <div class="flex flex-col w-full md:w-1/2">
            <img src="../../../../assets/Pictures/game-cards.jpg" alt="Playing cards"
                class="rounded-sm shadow-md max-w-72 max-h-72">
        </div>

        <div class="hidden md:block w-0.5 h-64 bg opacity-50"></div>

        <div class="flex flex-col items-center md:items-start w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl font-normal text-black mb-6">Abteilungskomitee</h2>

            <div class="bg-[#D9D9D9] p-6 w-full min-h-[200px] flex items-center justify-center">
                <p class="text-gray-700">
                    Die Mitglieder des Abteilungskomitee’s unterstützen hauptsächlich die Abteilungsleitung oder Leiter
                    bei
                    organisatorischen Fragen, Behördenkontakten usw. Wir verwalten die Finanzen, schauen zum Pfadiheim,
                    helfen mit bei
                    ausserordentlichen Anlässen. Kurz, wir unterstützen die Pfadi wo immer es nötig ist. Wir mischen uns
                    jedoch nicht in das
                    Pfadileben ein. Die Übungen und Lager werden von den LeiterInnen selbständig organisiert und
                    durchgeführt. Die Pfadi ist
                    ein Verein und die HV wird ebenfalls von uns einberufen.
                </p>
                <a href="">Mehr erfahren</a>
            </div>
        </div>

    </div>
</app-page-card>

<app-page-card>
    <div class=" p-8 flex flex-col md:flex-row gap-8 items-center min-h-[400px]">

        <div class="flex flex-col w-full md:w-1/2">
            <img src="../../../../assets/Pictures/game-cards.jpg" alt="Playing cards"
                class="rounded-sm shadow-md max-w-72 max-h-72">
        </div>

        <div class="hidden md:block w-0.5 h-64 bg opacity-50"></div>

        <div class="flex flex-col items-center md:items-start w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl font-normal text-black mb-6">APV</h2>

            <div class="bg-[#D9D9D9] p-6 w-full min-h-[200px] flex items-center justify-center">
                <p class="text-gray-700">
                    Der APV (Alt-Pfader-Verein), bildet jene Gruppe von ehemaligen Pfadis, welche keine aktive Rolle
                    mehr in der Abteilung
                    übernehmen und auch nicht am Abteilungskomitee angehören. Der APV dient den aktiven Leitern als
                    Informationsquelle, bei
                    Fragen wie man es früher gemacht hat, oder wie es früher so war. Im APV selbst gibt es keine
                    Aktivitäten oder jährlichen
                    Veranstaltungen. Sie bilden zusammen eine grosse Gruppe von Ehemaligen, die die Pfadiabteilung, mit
                    Wissen, Finanziellen
                    Mitteln oder ähnlichem so gut wie möglich unterstützt.
                </p>
                <a href="">Mehr erfahren</a>
            </div>
        </div>

    </div>
</app-page-card>

<hr>

<app-page-card>
    <div class=" p-8 flex flex-col md:flex-row gap-8 items-center min-h-[400px]">

        <div class="flex flex-col w-full md:w-1/2">
            <img src="../../../../assets/Pictures/game-cards.jpg" alt="Playing cards"
                class="rounded-sm shadow-md max-w-72 max-h-72">
        </div>

        <div class="hidden md:block w-0.5 h-64 bg opacity-50"></div>

        <div class="flex flex-col items-center md:items-start w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl font-normal text-black mb-6">Stufen</h2>

            <div class="bg-[#D9D9D9] p-6 w-full min-h-[200px] flex items-center justify-center">
                <p class="text-gray-700">
                    Unsere Abteilung ist in vier Altersstufen unterteilt. Von 5-7 Jahre gibt es die Biberstufe. Die
                    Wolfsstufe bilden die
                    7-10 jährigen. Gefolgt von der Pfadistufe, diese decken die Teenager von 10-15 Jahre ab. Zum Schluss
                    gibt es noch die
                    Piostufe, von 15-17 Jahre. Als letzte Stufe kommt nur noch die Roverstufe, was dann jedoch allgemein
                    als Leiter bekannt
                    ist.
                </p>
                <a href="">Mehr erfahren</a>
            </div>
        </div>
    </div>
</app-page-card>