@import "tailwindcss";

:root {
  --background1: #995052;
  --secondary: #c8aba4;
  --page-card-bg-color: #c8aba4;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background1);
  height: 100%;
}

a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
